*.csproj
*.sln

Client/Temp/
Client/Assets/YouYouScript/Data/DataTable/Create/
Client/Assets/Download/Audio/
Client/Assets/Download/Audio.meta
Client/.vs/Client/v16/Server/sqlite3/db.lock
Client/.vs/Client/v16/Server/sqlite3/storage.ide
Client/.vs/Client/v16/Server/sqlite3/storage.ide-shm
Client/.vs/Client/v16/Server/sqlite3/storage.ide-wal
Client/Library/
Client/LuaLib/
