Client/Temp/
Client/Library/
Client/Logs/
Client/UserSettings/
Client/AssetBundles/
Client/ServerData/
Client/*.sln
Client/*.csproj
Client/.vsconfig
Client/Build/
Client/HybridCLRData/
Client/Assets/HybridCLRData/
Client/Assets/StreamingAssets/AssetBundles/
bin/
obj/
.vs/