*/Temp/
*/Library/
*/LuaLib/
bin/
obj/
.vs/
Client/Assets/Download/Audio/
FMOD/.unsaved/
FMOD/Metadata/
Client/Client.sln
Client/Sirenix.OdinInspector.CompatibilityLayer.csproj
Client/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Client/YouYou.Hotfix.csproj
Client/YouYou.Model.csproj
Client/YouYou.ThirdParty.csproj
